* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #f8835b;
  padding: 20px 0;
  display: flex;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 10px;
  color: rgb(238, 238, 238);
  transition-duration: 0.35s;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 50px 0 0;
}

nav li:hover {
  color: #fff;
  font-weight: 600;
}

nav li a {
  text-decoration: none;
  color: white;
}

#brand {
}

#banner img {
  width: 100%;
  background-size: cover;
  height: calc(100vh - 180px);
}

footer {
  background-color: rgb(44, 44, 44);
  padding: 10px;
  text-align: center;
  color: #ccc;
  letter-spacing: 5px;
}

footer {
  clear: both;
}

#about-content-left {
  /* background-color: #472d22; */
  width: 50%;
  height: calc(100vh - 180px);
  display: inline-block;
  float: left;
}

#about-content-left img {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  border-radius: 50%;
  border: 5px solid white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#about-content-right {
  /* background-color: #08525f; */
  width: 50%;
  height: calc(100vh - 180px);

  display: inline-block;
  float: left;
  text-align: center;
  padding: 30px;
  padding-top: 120px;
}

.contact-container input,
.contact-container textarea {
    width: 250px !important;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: 0;
}


.contact-container input:focus,
.contact-container textarea:focus {
    background-color: #f3e6e1;


}


.contact-container input[type=submit]{
    background-color: #f5a083;
    transition-duration: 0.5s;
}

.contact-container input[type=submit]:hover{
    background-color: #cf7050;
}

/* .contact-container form{
    background-color: #f8835b;
    position: relative;
    display: inline-block;
    margin: 0 auto;
} */


#contact-left, #contact-right{
    display: inline-block;
    float: left;
    width: 50%;
}

#contact-left{
    padding: 40px;
    text-align: center;
}


a{
    text-decoration: none;
}

i{
    margin-right: 20px;
    font-size: 50px;
    transition-duration: 0.5s;
}
i:hover{
    color: #f5a083;
}